@model SaglikUrunleri.Entity.Entity.Urun

@{
    ViewBag.Title = "UrunDetay";
    Layout = "~/Views/Shared/_SaglikLayout.cshtml";
}

<h2>UrunDetay</h2>
<!-- .row.masonry-grid-fitrows.grid-space-20>.col-md-6.masonry-grid-item+.col-md-6>.card>.card-header+.card-body -->
<div class="row masonry-grid-fitrows grid-space-20">
    <div class="col-md-6 masonry-grid-item">
        <img src="@Model.urunResimYolu1" alt="Alternate Text" />
    </div>
    <div class="col-md-6 masonry-grid-item">
        <div class="card">
            <div class="card-header">
                <h3>@Model.urunAd</h3>
                @*<p>
                    Nivea Krem 250Ml

                    Bütün cilt tipleri için uygundur.

                    Dört mevsim boyunca ailenin tüm fertleri için kullanılabilecek mükemmel bir nemlendiricidir. EUCERIT içeren benzersiz formülüyle özellikle kuruyan ve çatlayan ciltler için ideal olan NIVEA Creme cildi besler ve cildin ihtiyacı olan tüm bakım ve korumayı sağlar.
                    Kullanımı: Gün boyu bakımlı eller için ihtiyaç duyduğunuz her an kullanabilirsiniz
                </p>*@
            </div>
            <div class="card-body">

                <dt><label class="text-light bg-danger radius">Ürün Adı :</label></dt>
                <dd>@Html.DisplayNameFor(m => m.urunAd)</dd>

                <dt><label>Ürün Fiyatı :</label></dt>
                <dd>@Html.DisplayNameFor(m => m.urunFiyat)</dd>

                <dt><label>Açıklama :</label></dt>
                <dd>@Html.DisplayNameFor(m => m.urunBilgisi)</dd>

            </div>
        </div>
    </div>
</div>